{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "TweenLite": true,
    "TimelineLite": true,
    "TweenMax": true,
    "TimelineMax" : true,
    "Power1": true,
    "Power2": true,
    "Power3": true,
    "Power4": true,
    "Elastic": true
  },
  "extends": "eslint-config-airbnb",
  "rules": {
    "react/sort-comp": 0,
    "no-use-before-define": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "comma-dangle": [2, "never"],
    "spaced-comment": 0
  }
}
