/*
 * This file is part of a sample todo application.
 *
 * (c) Magnus Bergman <hello@magnus.sexy>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import '~assets/styles/base/__base';

.main {
  max-width: 64em;
  margin: 0 auto;

  padding-top: 5em;
  padding-bottom: 5em;

  opacity: 1;
}

.introduction {
  text-align: center;

  @media (max-width: 32em) { padding: 0 1em; }

  h1 {
    margin-top: 0;

    font-size: 4em;
    font-weight: 100;
  }

  .logo {
    width: 4.375em;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}

footer {
  margin-top: 2em;
  text-align: center;
}

.todo-app {
  padding: 0 20%;

  @media (max-width: 56em) { padding: 0 15%; }
  @media (max-width: 48em) { padding: 0 10%; }
  @media (max-width: 40em) { padding: 0 5%; }
  @media (max-width: 32em) { padding: 0 1em; }

  *:focus { outline: 0; }

  h2 {
    font-weight: 100;

    margin-bottom: .2em;
  }

  .new-item,
  .edit {
    padding: .75em 1em;
    width: 100%;

    color: $base-font-color;
    font-weight: 400;

    margin: .5em 0;

    border: none;
    border-radius: 0;
  }

  .content {
    padding: 2em 2em 0;

    @media (max-width: 32em) { padding: 2em 0 0; }
  }

  .item-list {
    @extend %reset-list;

    margin: 1em 0;
    padding: 1em 0;

    border-top: 1px solid $base-color;
    border-bottom: 1px solid $base-color;

    li { margin: .5em 0; }
  }

  .checkbox-label {
    position: relative;

    padding-left: 2em;

    input {
      @extend %screen-reader-only;

      &:checked ~ span {
        svg { opacity: 1; }
      }
    }

    span:first-of-type {
      position: absolute;
      top: .2em;
      left: 0;

      width: 1em;
      height: 1em;

      border: 1px solid $base-color;

      svg {
        width: 160%;

        fill: $base-color;

        opacity: 0;

        transform: translate(-5%, -30%);
        transition: opacity 100ms ease-out;
      }
    }
  }

  .destroy {
    float: right;

    height: 2em;
    width: 2em;

    padding: .4em .5em;

    border-radius: 100%;

    border: none;
    background: $bg-color;

    transition: background 100ms ease-out;

    &:hover { background: darken($bg-color, 5%); }

    svg { fill: #fff; }
  }

  .clear-completed {
    margin-left: 1em;
    padding: .4em 1em;

    border: 1px solid $base-color;
    box-shadow: none;
    background: transparent;
  }
}
