body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;

	color: $base-font-color;
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

address {}
small {}

a {
	color: $base-link-color;
	text-decoration: none;

	transition: color 200 ease-out;

	&:hover { color: $base-link-hover-color; }
}

b,
strong { font-weight: 700; }

i,
em { font-style: italic; }
