/**
 * Variables
 */

/* Fonts -------------------------------------------------------------------- */
$base-font-family: helvetica, arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.6;

/* Colors ------------------------------------------------------------------- */
$base-color: #fff;
$accent-color: turquoise;

$light-contrast-color: #fbfcfc;
$medium-contrast-color: #969696;
$dark-contrast-color: #2f2f2f;

$base-font-color: #222222;
$subtle-font-color: #888888;

$base-link-color: turquoise;
$base-link-hover-color: color(turquoise, blackness(+50%));
